<nav class="navbar fixed-top">
    <div class="container-fluid">
        <a href="http://localhost:3000/posts" class="navbar-brand">Quora</a>
        <div class="d-flex">
            <!-- Create Post Button -->
            <a href="http://localhost:3000/posts/new" class="btn btn-danger">Create Post</a>
    </div>
</nav>