*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #1b1b1b;
}
.loader {
    margin: 30vh auto;
    border: 16px solid #4b4a4a; /* Light grey */
    border-top: 16px solid #42db34; /* Blue */
    border-bottom: 16px solid #42db34; 
    border-radius: 50%;
    background-color: rgb(51, 50, 50);
    width: 220px;
    height: 220px;
    animation: spin 2s linear 5 ;
    box-shadow: 0 0 50px #42db34;
}

@keyframes spin {
    0% { transform:translateY(0px) rotate(0deg); }

    50% { transform: translateY(-200px) rotate(360deg); }

    100% { transform: translateY(0px) rotate(720deg); }
}
